<div id="delete_medico_confirm_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Deletar Médico?</h3>
            </div>
            <div class="modal-body">
                <p>Você tem certeza que deseja deletar este medico?</p>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="medico_id" value=""/>
                <button class="btn" data-dismiss="modal" aria-hidden="true">Não</button>
                <button class="btn btn-primary delete_medico">Sim</button>
            </div>
        </div>
    </div>
</div>

<div id="delete_paciente_confirm_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Deletar Paciente?</h3>
            </div>
            <div class="modal-body">
                <p>Você tem certeza que deseja deletar este paciente?</p>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="paciente_id" value=""/>
                <button class="btn" data-dismiss="modal" aria-hidden="true">Não</button>
                <button class="btn btn-primary delete_paciente">Sim</button>
            </div>
        </div>
    </div>
</div>

<div id="delete_consulta_confirm_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Deletar Consulta?</h3>
            </div>
            <div class="modal-body">
                <p>Você tem certeza que deseja deletar esta Consulta?</p>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="consulta_id" value=""/>
                <button class="btn" data-dismiss="modal" aria-hidden="true">Não</button>
                <button class="btn btn-primary delete_consulta">Sim</button>
            </div>
        </div>
    </div>
</div>