<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>CRUD</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="views/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="views/css/crud.css" rel="stylesheet" media="screen">
	</head>

	<body>
		<div class="container">			
			
			<div class="jumbotron">
				<h2>CRUD</h2>
				<p>Para editar um registro clique 2 vezes em cima do campo</p>
			</div>