<div class="navbar">
	<div class="navbar-inner">    
		<ul class="nav">
			<li><a href="javascript:void(0);" id="medico_list"><i class="icon-th icon-black"></i> Listar Médico</a></li>
			<li><a href="javascript:void(0);" id="paciente_list"><i class="icon-th icon-black"></i> Listar Paciente</a></li>
			<li><a href="javascript:void(0);" id="consulta_list"><i class="icon-th icon-black"></i> Listar Consultas</a></li>
			<li><a href="javascript:void(0);" id="create_medico_form"><i class="icon-plus-sign icon-black"></i> Cadastrar médico</a></li>
			<li><a href="javascript:void(0);" id="create_paciente_form"><i class="icon-plus-sign icon-black"></i> Cadastrar Paciente</a></li>
			<li><a href="javascript:void(0);" id="create_consulta_form"><i class="icon-plus-sign icon-black"></i> Cadastrar Consulta</a></li>
		</ul>
	</div>
</div>

<div id="indicator" style="display: none; text-align: center;" class="loading_img">
	<img src="views/img/indicator.gif"/>
</div>